# GPT DATA - SENTENCE TO TOKEN PER ROW FOR GPT_data_prep_domains_anonymized.py

:::::: GPT data ::::::
- output: token-level df to mimic real data
- output is processed in [data_process/data_process_for_ml/GPT_data_prep_domains_anonymized.py] and gets split into train/dev sets

In [1]:
import spacy
import pandas as pd
import numpy as np

2023-07-07 09:21:30.154995: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
# load spaCy
nlp = spacy.load("nl_core_news_lg")

In [8]:
#load raw text .pkl
df = pd.read_pickle('../../data/gpt/gpt_data_all_raw.pkl')

#reset index
df.reset_index(inplace=True, drop = True)

###### set up "label" column ######
df['labels_str'] = [','.join(map(str, l)) for l in df['labels']]

cat_list = ['1,0,0,0,0,0,0,0,0','0,1,0,0,0,0,0,0,0','0,0,1,0,0,0,0,0,0','0,0,0,1,0,0,0,0,0','0,0,0,0,1,0,0,0,0','0,0,0,0,0,1,0,0,0','0,0,0,0,0,0,1,0,0', '0,0,0,0,0,0,0,1,0','0,0,0,0,0,0,0,0,1']

# adm= '1,0,0,0,0,0,0,0,0'
# att= '0,1,0,0,0,0,0,0,0'
# ber= '0,0,1,0,0,0,0,0,0'
# enr= '0,0,0,1,0,0,0,0,0'
# etn= '0,0,0,0,1,0,0,0,0'
# fac= '0,0,0,0,0,1,0,0,0'
# ins= '0,0,0,0,0,0,1,0,0'
# mbw= '0,0,0,0,0,0,0,1,0'
# stm= '0,0,0,0,0,0,0,0,1'

#df.loc[df['] == 'True', 'ADM_lvl'] = df['level']
df.loc[df['labels_str'] == cat_list[0], 'label' ]= 'adm'
df.loc[df['labels_str'] == cat_list[1], 'label' ]= 'att'
df.loc[df['labels_str'] == cat_list[2], 'label' ]= 'ber'
df.loc[df['labels_str'] == cat_list[3], 'label' ]= 'enr'
df.loc[df['labels_str'] == cat_list[4], 'label' ]= 'etn'
df.loc[df['labels_str'] == cat_list[5], 'label' ]= 'fac'
df.loc[df['labels_str'] == cat_list[6], 'label' ]= 'ins'
df.loc[df['labels_str'] == cat_list[7], 'label' ]= 'mbw'
df.loc[df['labels_str'] == cat_list[8], 'label' ]= 'stm'

df['label']=df['label']+ df['level'].astype(str)

df.pop('labels_str')

###### SET UP CATEGORY COLUMNS ######
#split labels to 9 separate columns with cat as header
df[['ADM', 'ATT', 'BER', 'ENR', 'ETN', 'FAC', 'INS', 'MBW', 'STM']]= pd.DataFrame(df.labels.tolist(), index= df.index)

# set label = true, no label = false
domains='ADM', 'ATT', 'BER', 'ENR', 'ETN', 'FAC', 'INS', 'MBW', 'STM'
for d in domains:
    df.loc[df[d] == 0, d] = False
    df.loc[df[d] == 1, d] = True

###### SET UP LEVEL COLUMNS ######
# make cells = NaN
cat = 'ADM_lvl', 'ATT_lvl', 'BER_lvl', 'ENR_lvl', 'ETN_lvl', 'FAC_lvl', 'INS_lvl', 'MBW_lvl', 'STM_lvl'
for c in cat:
    df[[c]] = np.NaN

# insert level value from 'level'
for idx, row in df.iterrows():  
    df.loc[df['ADM'] == True, 'ADM_lvl'] = df['level']
    df.loc[df['ATT'] == True, 'ATT_lvl'] = df['level']
    df.loc[df['BER'] == True, 'BER_lvl'] = df['level']
    df.loc[df['ENR'] == True, 'ENR_lvl'] = df['level']
    df.loc[df['ETN'] == True, 'ETN_lvl'] = df['level']
    df.loc[df['FAC'] == True, 'FAC_lvl'] = df['level']
    df.loc[df['INS'] == True, 'INS_lvl'] = df['level']
    df.loc[df['MBW'] == True, 'MBW_lvl'] = df['level']
    df.loc[df['STM'] == True, 'STM_lvl'] = df['level']

In [9]:
df.columns.tolist()
#['text','conf_score','labels','level','annotator','gender','age','illness','NotitieID','label',
# 'ADM','ATT','BER','ENR','ETN','FAC','INS','MBW','STM','ADM_lvl',
# 'ATT_lvl','BER_lvl','ENR_lvl','ETN_lvl','FAC_lvl','INS_lvl','MBW_lvl','STM_lvl']

['text',
 'conf_score',
 'labels',
 'level',
 'annotator',
 'gender',
 'age',
 'illness',
 'NotitieID',
 'label',
 'ADM',
 'ATT',
 'BER',
 'ENR',
 'ETN',
 'FAC',
 'INS',
 'MBW',
 'STM',
 'ADM_lvl',
 'ATT_lvl',
 'BER_lvl',
 'ENR_lvl',
 'ETN_lvl',
 'FAC_lvl',
 'INS_lvl',
 'MBW_lvl',
 'STM_lvl']

In [10]:
df.loc[2]

text          er moet bloedglucose en insulinedosering bijge...
conf_score                                                 0.92
labels                              [0, 0, 0, 0, 1, 0, 0, 0, 0]
level                                                         0
annotator                                          verpleegster
gender                                                      man
age                                                       18-40
illness                                                  kanker
NotitieID                                                     2
label                                                      etn0
ADM                                                       False
ATT                                                       False
BER                                                       False
ENR                                                       False
ETN                                                        True
FAC                                                       False
INS                                                       False
MBW                                                       False
STM                                                       False
ADM_lvl                                                     NaN
ATT_lvl                                                     NaN
BER_lvl                                                     NaN
ENR_lvl                                                     NaN
ETN_lvl                                                       0
FAC_lvl                                                     NaN
INS_lvl                                                     NaN
MBW_lvl                                                     NaN
STM_lvl                                                     NaN
Name: 2, dtype: object

In [14]:
df.to_pickle('../../data/gpt/gpt_data_all_raw_progress.pkl')

In [3]:
df = pd.read_pickle('../../data/gpt/gpt_data_all_raw_progress.pkl')

In [4]:
###### MAKE TOKEN-LEVEL DF (new_df) AND ADD COLUMNS ######

# set up column values
#CODE ADAPTED FROM: https://stackoverflow.com/questions/71816814/split-text-into-tokens-on-different-rows-in-a-dataframe

new_d = {'sen': [], 'tok' : [] , 'token': [], 'label': [], 'conf_score':[], 'NotitieID':[], 'annotator':[], 'gender':[], 'age':[], 'illness':[],
'ADM':[], 'ATT':[], 'BER':[], 'ENR':[], 'ETN':[], 'FAC':[], 'INS':[], 'MBW':[], 'STM':[],
'ADM_lvl':[], 'ATT_lvl':[], 'BER_lvl':[], 'ENR_lvl':[], 'ETN_lvl':[], 'FAC_lvl':[], 'INS_lvl':[], 'MBW_lvl':[], 'STM_lvl':[],
}

col = ['conf_score',
 'annotator',
 'gender',
 'age',
 'illness',
 'NotitieID']

cat_lvl = 'ADM_lvl', 'ATT_lvl', 'BER_lvl', 'ENR_lvl', 'ETN_lvl', 'FAC_lvl', 'INS_lvl', 'MBW_lvl', 'STM_lvl','ADM', 'ATT', 'BER', 'ENR', 'ETN', 'FAC', 'INS', 'MBW', 'STM'

for idx, row in df.iterrows():
    doc = nlp(row['text'])
    
    if len(doc) == 0:
        print("0 length index:", idx)
        print("0 length text:", row['text'])
    
    else:
        new_d['token'].extend(str(i) for i in doc)
        new_d['sen'].extend([idx + 1] * len(doc))
        new_d['tok'].extend(i+1 for i in range(len(doc)))

        for l in cat_lvl:
            lvl = [np.NaN] * len(doc)
            #print("=== lvl", df[l].iloc[[idx]].values[0], type(df[l].iloc[[idx]].values[0]), len(doc))
            lvl[0] =df[l].iloc[[idx]].values[0]
            new_d[l].extend(lvl)
        
        lbl = ['_'] * len(doc)
        lbl[0] = df['label'].iloc[[idx]].values[0]
        new_d['label'].extend(lbl)
        

        for c in col:
            new_d[c].extend([df[c].iloc[[idx]].values[0]]*len(doc))
        

new_df = pd.DataFrame(data = new_d)
#new_df

0 length index: 54866
0 length text:

In [5]:
# COMBINE sen & tok to 'sen_tok'
new_df['sen_tok'] = new_df['sen'].astype(str) + '_' + new_df['tok'].astype(str)

# combine NOtitieID and sen to 'sen_id'
new_df['sen_id'] = new_df['NotitieID'].astype(str) + '_' + new_df['sen'].astype(str)

# add columns and give a value
new_df['institution'] = 'gpt'
new_df['year'] = '2023'

In [6]:
# save pickle file
new_df.to_pickle('../../data/gpt/gpt_data_all_for_data-prep-domains.pkl')

In [9]:
new_df.columns.tolist()

['sen',
 'token',
 'tok',
 'conf_score',
 'NotitieID',
 'annotator',
 'gender',
 'age',
 'illness',
 'ADM',
 'ATT',
 'BER',
 'ENR',
 'ETN',
 'FAC',
 'INS',
 'MBW',
 'STM',
 'ADM_lvl',
 'ATT_lvl',
 'BER_lvl',
 'ENR_lvl',
 'ETN_lvl',
 'FAC_lvl',
 'INS_lvl',
 'MBW_lvl',
 'STM_lvl',
 'sen_tok',
 'sen_id',
 'institution',
 'year']

In [8]:
new_df.loc[15]

sen                        2
token                patiënt
tok                        1
conf_score               0.8
NotitieID               5747
annotator               arts
gender                 vrouw
age                    18-40
illness        chemotherapie
ADM                    False
ATT                    False
BER                    False
ENR                    False
ETN                    False
FAC                    False
INS                    False
MBW                    False
STM                     True
ADM_lvl                  NaN
ATT_lvl                  NaN
BER_lvl                  NaN
ENR_lvl                  NaN
ETN_lvl                  NaN
FAC_lvl                  NaN
INS_lvl                  NaN
MBW_lvl                  NaN
STM_lvl                    1
sen_tok                  2_1
sen_id                5747_2
institution              gpt
year                    2023
Name: 15, dtype: object

In [21]:
new_df.loc[16]

sen                        2
token                  voelt
tok                        2
conf_score               0.8
NotitieID               5747
annotator               arts
gender                 vrouw
age                    18-40
illness        chemotherapie
ADM                      NaN
ATT                      NaN
BER                      NaN
ENR                      NaN
ETN                      NaN
FAC                      NaN
INS                      NaN
MBW                      NaN
STM                      NaN
ADM_lvl                  NaN
ATT_lvl                  NaN
BER_lvl                  NaN
ENR_lvl                  NaN
ETN_lvl                  NaN
FAC_lvl                  NaN
INS_lvl                  NaN
MBW_lvl                  NaN
STM_lvl                  NaN
sen_tok                  2_2
sen_id                5747_2
institution              gpt
year                    2023
Name: 16, dtype: object

In [13]:
new_df.columns.tolist()

['sen',
 'token',
 'tok',
 'conf_score',
 'NotitieID',
 'annotator',
 'gender',
 'age',
 'illness',
 'ADM',
 'ATT',
 'BER',
 'ENR',
 'ETN',
 'FAC',
 'INS',
 'MBW',
 'STM',
 'ADM_lvl',
 'ATT_lvl',
 'BER_lvl',
 'ENR_lvl',
 'ETN_lvl',
 'FAC_lvl',
 'INS_lvl',
 'MBW_lvl',
 'STM_lvl',
 'sen_tok',
 'sen_id',
 'institution',
 'year']

In [15]:
test = 'patiënt heeft verminderde spiermassa.'
doc  =nlp(test)
str(doc)

'patiënt heeft verminderde spiermassa.'