# Data Statistics - qty per level in each category

In [2]:
import pandas as pd

In [34]:
gpt_pkl = '../data/gpt/gpt_data_all_updated.pkl'
df_gpt = pd.read_pickle(gpt_pkl)
df_gpt

,id,text,conf_score,labels,level,annotator,gender,age,illness
0,1,inname van vast voedsel is niet mogelijk.,0.95,d550,0,verpleegster,man,18-40,kanker
1,2,de patiënt is volledig afhankelijk van parente...,0.88,d550,0,verpleegster,man,18-40,kanker
2,3,er moet bloedglucose en insulinedosering bijge...,0.92,d550,0,verpleegster,man,18-40,kanker
3,4,de patiënt verdraagt geen vaste voeding en dri...,0.85,d550,0,verpleegster,man,18-40,kanker
4,5,het sondevoeding toedieningsstelsel moet aange...,0.9,d550,0,verpleegster,man,18-40,kanker
...,...,...,...,...,...,...,...,...,...
64818,11,de patiënt heeft geen voedselallergieën of voe...,0.8,d550,4,verpleegster,vrouw,40-65,voedingsstoornis
64819,12,de patiënt eet zijn maaltijden zonder afleidin...,0.9,d550,4,verpleegster,vrouw,40-65,voedingsstoornis
64820,13,de patiënt heeft geen problemen met het consum...,0.7,d550,4,verpleegster,vrouw,40-65,voedingsstoornis
64821,14,de patiënt heeft geen problemen met de tempera...,0.8,d550,4,verpleegster,vrouw,40-65,voedingsstoornis
64822,15,de patiënt eet zonder moeite in een groep of g...,0.6,d550,4,verpleegster,vrouw,40-65,voedingsstoornis

In [189]:
df_counts2 =  pd.DataFrame()
df_counts = pd.DataFrame()

# ADD TO df_counts2
#col = ['FAC', 'INS']
df_fac = df_gpt.loc[df_gpt['labels'] == 'FAC']
fac_qty = (df_fac['level'].value_counts().sort_index()).to_list()

df_ins = df_gpt.loc[df_gpt['labels'] == 'INS']
ins_qty = (df_ins['level'].value_counts().sort_index()).to_list()

df_counts2['INS'] = ins_qty
df_counts2['FAC'] = fac_qty

# ADD TO df_counts
#col2 = ['ADM', 'ATT', 'BER', 'ENR', 'ETN', 'MBW', 'STM']
df_adm = df_gpt.loc[df_gpt['labels'] == 'ADM']
adm_qty = (df_adm['level'].value_counts().sort_index()).to_list()

df_att = df_gpt.loc[df_gpt['labels'] == 'ATT']
att_qty = (df_att['level'].value_counts().sort_index()).to_list()

df_ber = df_gpt.loc[df_gpt['labels'] == 'BER']
ber_qty = (df_ber['level'].value_counts().sort_index()).to_list()

df_enr = df_gpt.loc[df_gpt['labels'] == 'ENR']
enr_qty = (df_enr['level'].value_counts().sort_index()).to_list()

df_ETN = df_gpt.loc[df_gpt['labels'] == 'ETN']
etn_qty = (df_ETN['level'].value_counts().sort_index()).to_list()

df_mbw = df_gpt.loc[df_gpt['labels'] == 'MBW']
mbw_qty = (df_mbw['level'].value_counts().sort_index()).to_list()

df_stm = df_gpt.loc[df_gpt['labels'] == 'STM']
stm_qty = (df_stm['level'].value_counts().sort_index()).to_list()

df_counts['ADM'] = adm_qty
df_counts['ATT'] = att_qty
df_counts['BER'] = ber_qty
df_counts['ENR'] = enr_qty
df_counts['MBW'] = mbw_qty
df_counts['STM'] = stm_qty

In [203]:
final_qty = pd.concat([df_counts,df_counts2],axis=1)
final_qty = final_qty.sort_index(axis=1)
final_qty = final_qty.fillna(0)
final_qty['ADM'] = final_qty['ADM'].astype(int)
final_qty['ATT'] = final_qty['ATT'].astype(int)
final_qty['BER'] = final_qty['BER'].astype(int)
final_qty['ENR'] = final_qty['ENR'].astype(int)
final_qty['ENT'] = final_qty['ENT'].astype(int)
final_qty['MBW'] = final_qty['MBW'].astype(int)
final_qty['STM'] = final_qty['STM'].astype(int)
final_qty

   ADM   ATT   BER   ENR   ENT   FAC   INS   MBW  STM
0  590   970  1353  2366   990  1514  2065  1496  990
1  530   920  1583  1985   789  1485  2010  1275  960
2  545  1260  1358  2393  1250  1450  1964  1395  960
3  320   955  1646  2318   867  2025  2025  1440  960
4  310   950  1789  2340   895  1499  2026  1528  960
5    0     0     0     0     0  1484  2040     0    0

In [204]:
final_qty.to_csv('../data/gpt/gpt_qty_per_level.csv')